name: Azure Terraform CI/CD

on:
   pull_request:
     branches:
       - main
   push:
     branches:
       - main
   
  
permissions:
  id-token: write
  contents: read

jobs:
  terraform-security-scan:
    name: Terraform Security & Lint Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      # 1️⃣ Run TruffleHog (Secret Scan)
      - name: Scan for Secrets using TruffleHog
        uses: trufflesecurity/trufflehog@main
        with:
          path: .

      # # 2️⃣ Run TFLint (Code Linting)
      # - name: Run TFLint
      #   uses: terraform-linters/tflint-action@v4
      #   with:
      #     args: --init --recursive
      #     working-directory: environment/dev

      # 3️⃣ Run TFSec (Security Misconfiguration)
      - name: Run TFSec
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          working_directory: environment/dev
          args: --severity HIGH

      # 4️⃣ Run Checkov (Compliance Scan)
      # - name: Run Checkov
      #   uses: bridgecrewio/checkov-action@v12
      #   with:
      #     directory: environment/dev
      #     framework: terraform
      #     soft_fail: false

      # 5️⃣ Run Terrascan (Policy as Code)
      # - name: Run Terrascan
      #   uses: tenable/terrascan-action@v1.5.0
      #   with:
      #     iac_type: terraform
      #     iac_dir: environment/dev

  terraform-init-plan:
    needs: terraform-security-scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        
      - name: Install Terraform
        uses: autero1/action-terraform@v3.0.1
        with: 
         terraform-version: 1.13.0 
         
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: d21ebd3d-5905-4aec-b680-28f5c40156e7
          tenant-id: 8839fa1a-72d2-4f19-8736-4c73cf13d7a6
          subscription-id: 38d52de4-2fb6-4a85-96fb-5ba22d363e4e
          
      # - name: Terraform fmt
      #   id: fmt
      #   run: terraform fmt -check
      #   continue-on-error: true
      #   working-directory: environment/dev

      - name: Terraform init
        id: init
        run: terraform init -input=false
        working-directory: environment/dev

      - name: Terraform validate
        id: validate
        run: terraform validate -no-color
        working-directory: environment/dev

      - name: Terraform plan
        id: plan
        run: terraform plan -input=false
        continue-on-error: true
        working-directory: environment/dev 

  terraform-init-apply:
    needs: terraform-init-plan
    if: github.ref == 'refs/heads/main'
    environment: dev
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        
      - name: Install Terraform
        uses: autero1/action-terraform@v3.0.1
        with: 
         terraform-version: 1.13.0 
         
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: d21ebd3d-5905-4aec-b680-28f5c40156e7
          tenant-id: 8839fa1a-72d2-4f19-8736-4c73cf13d7a6
          subscription-id: 38d52de4-2fb6-4a85-96fb-5ba22d363e4e

      - name: Terraform init
        id: init
        run: terraform init -input=false
        working-directory: environment/dev

      - name: Terraform apply
        id: apply
        run: terraform apply --auto-approve
        continue-on-error: true
        working-directory: environment/dev         

